@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: Roboto, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer {
  background-color: rgb(211, 211, 211);
}

.header,
.footer {
  display: flex;
  justify-content: flex-start;
  padding: 15px
}

.top-right-links, 
.bottom-right-links {
  margin-left: auto
}

.footer ul,
.header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.header a, 
.footer a {
  color: gray;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
}

.buttons button {
  background-color: lightgray;
}
